
.navbar-brand {
  letter-spacing: 3px;
}

.navbar {
  height: 90px;
  line-height: 90px;
}

.navbar .nav-link {
  line-height: normal;
}

/* Dropdown Styling */
.custom-dropdown {
  min-width: 600px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: #333;
}

.custom-dropdown .dropdown-header {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.custom-dropdown .dropdown-item {
  color: #ccc;
  font-size: 1.1rem; /* Increased font size */
  padding: 5px 15px; /* Reduced vertical padding */
  line-height: 1.5;
  transition: all 0.3s ease;
}

.custom-dropdown .row > div {
  margin-bottom: 5px; /* Tighten up column spacing */
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  transform: translateX(5px);
}

.dropdown-menu-dark {
  background-color: #333;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .custom-dropdown {
      min-width: 100%;
  }
}